body {
    background-color: tan;
    font-family: 'Times New Roman', Times, serif;
}
header {
    text-align: center;
    background-color: grey;
    color: white;
    padding: 4px;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
}
#navigate {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}

#navigate li {
    display: inline-block;
    position: relative;
}

#navigate li:hover {
    background-color: aqua;
    color: white;
}

#navigate ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#navigate ul ul {
    display: none; 
    position: absolute;
    left: 0;
    top: 100%;
    background-color: blueviolet;
    width: 100%;
    color: white;
}

#navigate li:hover > ul {
    display: block; 
}

#navigate ul li {
    text-align: center;
    padding: 10px;
}

#navigate ul ul li {
    display: block; 
}
.content_box {
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
    padding: 10%;
    width: 20%;
}
.content_box h1 {
    font-style: italic;
    text-align: left;
}
.main-container {
    border: 2px solid red; 
}